<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"

    package="com.appfactory.privacycontacts" >

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACTION_SEND" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACTION_SEND" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
<!--ContactApplication was added to inform OS to use the class as application singleton.-->
    <application
        android:name=".ContactsApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.DayNight" >
        <activity
            android:name=".UI.SetPinActivity"
            android:exported="false" />
        <activity
            android:name=".UI.AddNewContactActivity"
            android:exported="false" />
        <activity
            android:name=".UI.ContactDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".UI.EnterPinActivity"
            android:exported="false" />
        <activity
            android:name=".UI.ContactsListActivity"
            android:exported="false" />
        <activity
            android:name=".UI.LandingActivity"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>